{% extends "global/Page.html" %}
{% load otree staticfiles %}


{% block title %}
        Perform the task or not?
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <p> You have been allocated in the role of: <b>{{ role }}</b></p>
    <p> Your partner will be playing as: <b>{{ other_role }}</b> </p>

    <p>
        {% include 'authority_game/Auth_payoffs.html' %}
    </p>



    <p>
        Please make your decision about whether to perform the task or not for <i>each of the possible bonus payments</i>
        that the Authority might offer you. Afterwards, the computer will match your choices to your partner's choices to
        calculate the payoffs.
    </p>
    <p>
        You can see the payoff tables for each conditional offer amount by clicking through the tabs above.
    </p>
    <p>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </p>


    {% next_button %}

{% endblock %}