{% extends "global/Page.html" %}
{% load otree staticfiles %}


{% block title %}
        Contribute or Refuse?
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
        th {
            text-align: center;
        }
    </style>

{% endblock %}

{% block content %}
    <p>
        You have chosen a bonus payment of: {{ group.offer }}
    </p>
    <p>
        The payoffs for you and your partner are shown in the table below. Now pick whether you wish to perform the task
        or not:
    </p>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Subordinate</th>
            </tr>
            <tr>
                <th>Perform the task</th>
                <th>Do not perform the task</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2" style="vertical-align: middle">The Authority</th>
                <td><button name="decision" value="perform the Task" class="btn btn-primary btn-large">I will perform the task</button></td>
                <td>{{ group.authority_cc|floatformat:0 }}, {{ group.subordinate_cc|floatformat:0 }}</td>
                <td>{{ Constants.authority_cr|floatformat:0 }}, {{ Constants.exploit_payoff|floatformat:0 }}</td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="decision" value="not perform the Task" class="btn btn-primary btn-large">I will not perform the task</button></td>
                <td>{{ group.authority_rc|floatformat:0 }}, {{ group.subordinate_rc|floatformat:0 }}</td>
                <td>{{ Constants.authority_rr|floatformat:0 }}, {{ Constants.subordinate_rr|floatformat:0 }}</td>
            </tr>
        </table>
    </div>
{% endblock %}