{% extends "global/Page.html" %}
{% load otree staticfiles %}


{% block title %}
        Perform the task or not? - Offer = 2
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
        th {
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}
    <p>
        If the Authority chooses a bonus payment of 2:
    </p>
    <p>
        <i>In each cell, the amount to the left is the payoff for
            the subordinate (you) and to the right for the authority.</i>
    </p>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Authority</th>
            </tr>
            <tr>
                <th>Perform</th>
                <th>Do not perform</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2" style="vertical-align: middle">The Subordinate</th>
                <td><button name="decision_sub2" value="perform the Task" class="btn btn-primary btn-large">I will perform the task</button></td>
                <td>9, 3 </td>
                <td>9, 8 </td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="decision_sub2" value="not perform the Task" class="btn btn-primary btn-large">I will not perform the task</button></td>
                <td>{{ Constants.exploit_payoff|floatformat:0 }}, {{ Constants.authority_cr|floatformat:0 }}</td>
                <td>{{ Constants.subordinate_rr|floatformat:0 }}, {{ Constants.authority_rr|floatformat:0 }}</td>
            </tr>
        </table>
    </div>

{% endblock %}