{% load otree staticfiles %}

{% block styles %}

    <style>

        th {
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        This is a 2 player Prisoner Dilemma game, where you are {{ player.role }}. In this game the decision of offering
        will be made in period 1, while both players will choose simultaneously in period 2 whether to contribute or not.
    </p>
    <p>
        You have to choose the amount of reward (r = 0, 2, 4) that you want to give to the other player as a reward from
        contributing, knowing that the payoffs will be the following:
    </p>
    <p>
        In each cell, the amount to the left is the payoff for
        the authority (you) and to the right for the subordinate.
    </p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Subordinate</th>
        </tr>
        <tr>
            <th>Contribute</th>
            <th>Refuse</th>
        </tr>
        <tr>
            <th rowspan=2 style="vertical-align: middle">The Authority</th>
            <th>Contribute</th>
            <td>5 - r, 7 + r</td>
            <td>5, 10</td>
        </tr>
        <tr>
            <th>Refuse</th>
            <td>10 - r, 7 + r</td>
            <td>3, 5</td>
        </tr>
    </table>
</div>

{% endblock %}