{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Task Game with Offers
{% endblock %}

{% block content %}

    <p>
        For the next stage of the experiment, you will again play the Task Game against other subjects. However, in this
        game, the Authority has an extra decision to make. Specifically, in each round the Authority can promise a
        <b>bonus payment</b>, to be paid by the Authority to the Subordinate <b>ONLY IF</b> the Subordinate chooses to perform
        the task. The Authority can offer a bonus from 0 to 3.5 tokens, in increments of 0.5 tokens
        (that is, the offer can be 0, 0.5, 1, 1.5, 2, 2.5, 3, or 3.5 tokens).
    </p>

    <p>
        When you play as the Authority, you will choose how much of a bonus to offer to the Subordinate. On the other
        hand, when you play as the Subordinate, you will be asked to make your decision about whether to perform the
        task or not for <b>each of the possible bonus payments</b> that the Authority might offer you. Afterwards, the computer
        will match your choices to your partner's choices to calculate the payoffs.

        After each round, you will see your earnings and your cumulative earnings up to that round. As in the previous stage,
        you will always be randomly paired with a different partner for each round. You will play 40 rounds as one role,
        then switch and play 40 rounds as the other role.
    </p>

    <p>
        In either role, before you make your final decision, you will be able to click on each possible bonus offer to
        see how the payoff table will change as a result. You can try this out below.
    </p>

    {% include 'authority_game/Auth_payoffs.html' %}



    {% next_button %}

{% endblock %}
