{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Binding Offer
{% endblock %}

{% block content %}

    <p> You have been allocated in the role of: <b>{{ role }}</b></p>
    <p> Your partner will be playing as: <b>{{ other_role }}</b> </p>

    <p>
        Click through the three tabs to see the payoff tables for each conditional offer amount.
    </p>
    <p>
    {% include 'authority_game/Auth_payoffs.html' %}
    </p>

    <p>
        Now, please choose the amount of reward to offer to the Subordinate if the Subordinate performs the task:
    </p>

    {% formfield group.offer label="I offer:" %}
    <p>
        <b>to the Subordinate if the Subordinate performs the task.</b>
    </p>

    {% next_button %}

{% endblock %}
